html,body {
    width: 100%;
    height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(22, 23, 24);
    color: #666262;
}

h1 {
    cursor: default;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.6s ease-out forwards;
    padding-left: 0px;
}
  
.tab {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

button {
    background-color:grey;
    border: none;
    cursor: pointer;
    padding: 7px 65px;
    transition: 0.3s;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
    color: #000000;
    width: 20%;
    align-items: center;
}

.tab #middle-button{
    border-left: 3.5px solid rgb(22, 23, 24);
    border-right: 3.5px solid rgb(22, 23, 24);
}

.tab button:hover {
    background-color: #202931;
}

.tab button.active {
    background-color: grey;
    color: aliceblue;
}

section{
    font-family: 'Roboto Mono', monospace;
    padding-top: 5px;
    max-width: 60%;
    height: 75%;
    margin: 0 auto;
    background-color:grey;
    margin-top: 30px;
    color:#000000;
    font-size: 25px;
}

h2{
    cursor: default;
    text-align: left;
    padding-left: 30px;
}

section p{
    padding-right: 50px;
    padding-left: 50px;
    font-size: 20px;
}

@media screen and (min-width: 1300px){

    section{
        width: 768px;
        height: 75%;
    }

    button{
        width: 256px;
    }

}

@media screen and (max-width: 1200px){

    section{
        width: 60%;
        height: 75%;
    }

    button{
        width: 20%;
        font-size: 20px;
    }
} 

@media screen and (max-width: 1200px){
    
    button{
        font-size: 18px;
    }

    section{
        font-size: 20px;
    }

    h2{
        font-size: 30px;
    }
}
